{% block main_content %}
	

<div class="card-body bg-light px-1 py-0">
        <div class="row g-0 text-center fs--1">
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/uy-uchun"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/7AA93102-81A6-41E5-9DDA-9CA2C6427E3B.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/uy-uchun">Uy uchun</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/bolalar-uchun"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/9FAD31AD-312A-44A0-9AC3-247DA89DE70E.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/bolalar-uchun">Bolalar uchun</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/sovga"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/81DA27B0-3F62-4376-AB3C-51B4781EEBC0.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/sovga">Sovg'a</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/ayollar"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/DD1F5E6F-C0C2-46AB-B37A-4EE53C319728.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/ayollar">Ayollar</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/davolovchi-mahsulotlar"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/A2ABC07B-AE08-4D84-B8DA-C21DA27DFCBC.jpeg" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/davolovchi-mahsulotlar">Davolovchi mahsulotlar</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/erkaklar-uchun"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/4BB898DC-10EE-4BC2-8FF2-CEE45C4A8452.jpeg" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/erkaklar-uchun">Erkaklar uchun</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/fitnes"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/6F1333A3-9765-4216-AE0A-A576B81DB510.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/fitnes">Fitnes</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/davolovchi-mazlar"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/1561E941-0F91-4C87-BCAA-49DD49C48E0B.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/davolovchi-mazlar">Davolovchi mazlar</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/moshina-uchun"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/2233F793-0315-4552-ACB8-C7522FDDEC29.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/moshina-uchun">Moshina uchun</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/kitoblar"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/thumb_15799_100_100_0_0_crop.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/kitoblar">Kitoblar</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/aqlli-soatlar"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/96963A48-D993-40BC-80A8-3BAA85637F61.webp" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/aqlli-soatlar">Aqlli soatlar</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/atir"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/media/category_images/Yg4YXhzi--q1_xRv65IqTJrv1RrtiC9zGsLIhv3AP6th2DUxUHXY2xw_45ha_2Dtcdu6eYLd_B2wwXeu.jpg" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/atir">Atir</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100"><a href="/category/yangi-yel-maxsulotlari"><img class="img-thumbnail img-fluid  mb-3 shadow-sm" src="/static/app/assets/img/icons/cart.png" alt="" width="100"></a>
                            <h6 class="mb-1"><a href="/category/yangi-yel-maxsulotlari">Yangi yel maxsulotlari</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                
            </div>
    </div>
{% endblock %}