{% extends 'apps/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} Mahsulotlar {% endblock %}
{% block content %}
    <div class="card mt-2 mb-2">
        <div class="card-header bg-light">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="mb-0" id="followers"></h5>
                </div>
                <div class="col text-end"><a class="font-sans-serif" href="/category">Kategoriyalar</a>
                </div>
            </div>
        </div>
        <div class="card-body bg-light px-1 py-0">
            <div class="row g-0 text-center fs--1">
                {% for category in categories %}
                    <div class="col-4 col-md-4 col-lg-3 col-xx1-2 mb-1">
                        <div class="bg-white dark__bg-1100 p-1 h-100">
                            <a href="{% url 'product_list' %}?category={{ category_id }}"><img
                                    class="img-thumbnail img-fluid  mb-3 shadow-sm"
                                    src="{{ category.image.url }}"
                                    alt=""
                                    width="100">
                            </a>
                            <h6 class="mb-1"><a
                                    href="{% url 'product_list' %}?category={{ category.id }}">{{ category.name }}</a>
                            </h6>
                            <p class="fs--2 mb-1"></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                {% for product in product_list %}
                    <div class="mb-4 col-md-6 col-lg-4">
                        <div class="border rounded-1 h-100 d-flex flex-column justify-content-between pb-3">
                            <div class="overflow-hidden">
                                <div class="position-relative rounded-top overflow-hidden"><a class="d-block"
                                                                                              href="{% url 'product_detail' product.id %}"><img
                                        class="img-fluid rounded-top"
                                        src="{{ product.images.first.image.url }}"
                                        {% if product.is_new %}
                                        alt=""></a><span
                                                class="badge rounded-pill bg-success position-absolute mt-2 me-2 z-index-2 top-0 end-0">New</span>
                                        {% else %}
                                            alt=""></a><span
                                                class="badge rounded-pill bg-success position-absolute mt-2 me-2 z-index-2 top-0 end-0"></span>
                                        {% endif %}

                                </div>
                                <div class="p-3">
                                    <h5 class="fs-0"><a class="text-dark"
                                                        href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                    </h5>
                                    <p class="fs--1 mb-3"><a class="text-500" href="#!">{{ product.category }}</a>
                                    </p>
                                    <h5 class="fs-md-2 text-warning mb-0 d-flex align-items-center mb-3"> {{ product.sell_price }}
                                        <del class="ms-2 fs--1 text-500">{{ product.price }}</del>
                                    </h5>
                                    <p class="fs--1 mb-1">Shipping Cost: <strong>{{ product.shipping }}</strong></p>
                                    <p class="fs--1 mb-1">Stock: <strong
                                            class="text-success">{{ product.stock }}</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex flex-between-center px-3">
                                <div>


                                </div>
                                <div>
                                    <a class="btn btn-sm btn-falcon-default me-2"
                                            {% if user.id|has_wishlist:product.id %}
                                       style="background-color: red; color : white"
                                            {% else %} style="background-color: white; color:black"
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                       href="{% url 'wishlist_create' product.id %}"
                                            {% else %}
                                       href="{% url 'login' %}"
                                            {% endif %}
                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                       title="Add to Wish List">
                                        <span class="far fa-heart"></span>
                                    </a>
                                    <a class="btn btn-sm btn-falcon-default" href="#!"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top" title="Add to Cart">
                                        <span class="fas fa-cart-plus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
        <div class="card-footer bg-light d-flex justify-content-center">
            <div>
                {% if page_obj.has_previous %}
                    <a class="btn btn-sm btn-falcon-default me-2" href="?page={{ page_obj.previous_page_number }}">
                        <span class="fas fa-chevron-left"></span>
                    </a>
                    <a class="btn btn-sm btn-falcon-default me-2" href="?page={{ page_obj.previous_page_number }}">
                        {{ page_obj.previous_page_number }}
                    </a>
                {% endif %}
                <a class="btn btn-sm btn-falcon-default text-primary me-2" href="#">{{ page_obj.number }}</a>
                {% if page_obj.has_next %}
                    <a class="btn btn-sm btn-falcon-default me-2" href="?page={{ page_obj.next_page_number }}">
                        {{ page_obj.next_page_number }}
                    </a>
                    <a class="btn btn-sm btn-falcon-default me-2" href="?page={{ page_obj.next_page_number }}">
                        <span class="fas fa-chevron-right"></span>
                    </a>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}